*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(76, 76, 71);  
  background:linear-gradient(to right, #f2f2f2, #e0e0e0);
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  padding: 20px;
  /* height: 100vh; */

}
.hero{
background-color: white;
padding:30px 20px;
border-radius: 10px;
box-shadow: 0 0 12px rgba(0,0,0,0.1);
width: 100%;
max-width: 500px;
margin: auto;
}
.hero h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #3a3636;

}
.contact_form form{
    display: flex;
    flex-direction: column;
}
.contact_form label{
   margin: 10px;
   font-size: 600;
   color: #5d5656;
}
.contact_form input{
   padding: 12px;
   margin: 14px;
   border-radius: 8px;
   border:2px solid #95d0fd ;
   transition: border 0.3s ease-in;
}
.contact_form input:focus{
  border-color: #e0e0e0;
  outline: none;
}
.contact_form button{
  color: #f2f2f2;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
background-color: #0b8df0;
border: none;
cursor: pointer;
transition: background-color 0.3s ease-in;
font-weight: bold;
/* max-width: 200px; */
margin-left: 20px;
margin-bottom: 20px;
  
}
.contact_form button:hover{
    background-color: #66aee5;
}
.btn_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#cancel {
background-color: rgb(35, 120, 239);
text-decoration: none;
}

#cancel a{
color: white;
text-decoration: none;
}
#cancel:hover{
background-color: red;
}

@media (max-width: 600px) {
    .hero {
        padding: 30px 20px;
    }

    .contact_form input,
    .contact_form button {
        font-size: 16px;
    }
}

footer {
  background-color: #111;
  color: #eee;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact p {
  margin: 5px 0;
}
