 
 /* product css */
 
 body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f4f4f9;
      color: #333;
    }

    header {
      background-color: #0a0f2c;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 1.5rem;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin-left: 1rem;
      font-weight: bold;
    }
     nav a:hover{
      text-decoration:solid 2px antiquewhite underline;
    }
       nav span{
      font-size: 12px;
      margin-left: 15px;
      margin-right: 20px;
    }

    .hero {
      background: linear-gradient(135deg, #1e90ff, #00bcd4);
      color: white;
      padding: 2rem 2rem;
      text-align: center;
    }

    .hero h2 {
      margin-bottom: 0.3rem;
      font-size: 3rem;
    }

    .categories {
      display: flex;
      justify-content: center;
      /* gap: 2rem; */
      /* margin: 2rem auto; */
      flex-wrap: wrap;
    }

    .category {
      background: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem ;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .category-container{
      display: inline;
      position: relative;  
      margin: 8px;
    
    }
    .dropdown{
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      background-color: #ffffff;
      z-index: 1000;
      border:1px solid#ccc;
      /* max-width: 160px; */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .dropdown ul{
      list-style: none;
      margin: 0;
      padding: 5px;
    }
    .dropdown ul li{
      padding: 8px 12px;
      color: #333;
      cursor: pointer;
    }
    .dropdown ul li:hover{
      background-color: #f0f0f0;

    }
    .category-container:hover .dropdown{
      display: block;
      transition: 0.3s ease;
    }

    .category:hover {
      background-color: #e6f0ff;
      transform: translateY(-3px);
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
      padding: 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      text-align: center;
    }

    .product-card img {
      max-width: 100%;
      height: 100px;
      object-fit: contain;
    }

    .product-card h3 {
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }

    .product-card p {
      font-size: 0.9rem;
      color: #666;
    }

    .product-card button {
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      border: none;
      background: #1e90ff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
   .price span {
    text-decoration: line-through;
     color: red;
     font-size: 12px;
    }
     .price strong {
   
     color: rgb(7, 130, 9);
     font-size: 16px;
    }

    
.buy-btn button{
  background-color: #2a9d8f;
  color: white;
}


.marquee {
  width: 100%;
  overflow: hidden;
 background: linear-gradient(135deg, #1e90ff, #00bcd4);
 color: wheat;
  /* padding: 10px 0; */
  position: relative;
}

.marquee span{
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-text 45s linear infinite;
  font-weight: bold;
  font-size: 20px;
}

.slider{
  overflow: hidden;
  position: relative;
  max-width: 300px;
  margin: auto;
  width: 100%;
  /* height: 200px; */
}

.slider-track{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease-in-out;
}
.slide{
  min-width: 100%;
  height: 100%;
  object-fit: cover;

}
.details-tab{
  max-height: 100px;
  overflow: scroll;
  transition: max-height 0.4s ease, padding 0.3s ease;
  display: none;
  padding: 0 10px;
  margin-top: 10px;
  background-color: #f2f2f2;
  border-left:4px solid #007bff ;
  border-radius: 5px;
  font-size: 14px;

}
.details-tab ul{
  list-style: none;
  padding-left: 0;
  display: grid;
   grid-template-columns:(1); 
  gap: 8px; 
}

.details-tab ul li{
 margin-bottom: 6px;
 font-size: 14px;
 line-height: 0.9;
 text-align: left;

}


.details-tab ul li span{
 color: #8a8888;
 margin-right: 12px;
font-style: bold;
}
/* .details-tab.visible{
 padding: 10px;
 max-height: 1000px;
} */

.fas.fa-user {
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
}
@keyframes scroll-text {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
 

    footer {
      background-color: #0a0f2c;
      color: white;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }
@media (max-width: 600px) {
  .categories {
    display: flex;
   justify-self: center;
    align-items: center;
    padding: 10px;
   
  }

  .category-container {
    /* width: 20%; */
    margin-bottom: 8px;
   
  }

  .category {
    font-size: 16px;
    text-align: center;
     background-color: #e1e2e3;
  }

  .dropdown ul {
    text-align: center;
  }
}
